# Dependency directories
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Development artifacts
scratch/

# Compiled binary mocks
dist/__mocks__/
dist/*.test.js
dist/**/*.test.js
